* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(128, 19, 54);
    background: linear-gradient(340deg, rgba(128, 19, 54, 1) 0%, rgba(81, 10, 50, 1) 22%, rgba(45, 20, 44, 1) 56%, #090807 85%);
    background-repeat: no-repeat;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    font-size: 16px;
    font-weight: 600;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 100;
}

a {
    text-decoration: none;
    color: white;
}

.navbar-items ul li {
    list-style: none;
    margin: 0 10px;
    font-weight: 300;
}

.navbar-items ul {
    display: flex;
    justify-content: space-around;
}

.navbar-items {
    width: 30%;
    z-index: 2;
}

.logo {
    width: 3.7rem;
    height: 100%;
    position: absolute;
    top: 0;
    font-size: 22px;
}

span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.words:nth-child(2) {
    right: 4px;
}


.animated{
    top: 8%;
    color: rgba(128, 19, 54, 1);
    animation: jello-horizontal .9s linear both
    
}

@keyframes jello-horizontal {
    0% {
        color: white;
        transform: scale3d(1, 1, 1)
    }

    30% {
        transform: scale3d(1.25, .75, 1)
    }

    40% {
        transform: scale3d(.75, 1.25, 1)
    }

    50% {
        color: rgba(128, 19, 54, 1);
        transform: scale3d(1.15, .85, 1)
    }

    65% {
        transform: scale3d(.95, 1.05, 1)
    }

    75% {
        transform: scale3d(1.05, .95, 1)
    }

    100% {
        color: white;
        transform: scale3d(1, 1, 1)
    }
}

.main {
    width: 100%;
    height: min-content;
}

.home {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name h1{
    font-weight: 600;
    font-size: 36px;
}
.name h2 strong{
    font-weight: 300;
    font-size: 22px;
}

.contact {
    width: 120px;
    height: 40px;
    background-color: transparent;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    border:2px solid rgb(92, 35, 90);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}